/*DEFINICIÓN DE VARIABLES*/
:root{
    --color-principal: #000513;
    --color-secondary: #180723;
    --color-secondary-alert: #20113d;
    --color-background: #000612;
    --color-transparent: transparent;
    --color-icon: #8B8B8B;
    --color-title: #f5f5f5;
    --color-subtitle:#8B8B8B;
    --color-text: #f5f5f5;
    --color-blue: #63D8EE;
    --color-blue-alert: #60b8dd;
    --color-white: #f5f5f5;
    --color-grey: #8B8B8B;
    --color-pink: #A396D2;
    --color-pink-input: #e8e5fa;
}
/*ESTILOS GENERALES*/
html{
    font-size: 62.5%;

}
body{
    width: 100%;
    height: auto;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6{
    color: var(--color-title);
}
/*IMAGEN DE FONDO*/
body{
    background-color: var(--color-background);
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeBg 1.5s ease forwards;
    z-index: -1;
}
@keyframes fadeBg {
    to{
        opacity: 1;
    }
}
/*ESTRUCTURA PRINCIPAL*/
.layout{
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    /*Sombra detrás del layout*/
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}
/*BARRA LATERAL*/
.layout__aside{
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}
.aside__user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secondary);
    color: var(--color-text);
}
.user-info__container-image{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 5rem;
    border-radius: 50%;
    outline: 3px solid transparent;
    outline-offset: 3px;
    filter: drop-shadow(0 0 10px #00ffff);
    overflow: hidden;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}
.user-info__image{
    width: 100%;
}
.user-info__name{
    margin-top: 2.4rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-title);
}
.user-info__job{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-subtitle);
}
.user-info__links{
    margin-bottom: 1.7rem;
}
.links__social{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.social__option{
    margin: .3rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: .9;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}
.social__option:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}
.user-info__buttons{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.user-info__btn{
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--color-white);
    border-radius: 3.2rem;
    color: var(--color-text);
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.22);
    transition: all 300ms ease-in-out;
}
.user-info__btn:hover{
    background-color: var(--color-blue);
    color: var(--color-principal);
    font-weight: bold;
}
.user-info__footer{
    position: static;
    padding-bottom: 2rem;
    bottom: 5.4rem;
    font-size: 1.2rem;
}
/*CONTENEDOR PRINCIPAL*/
.layout__content{
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--color-secondary);
    border-radius: 0 4rem 4rem 0;
}
.content__page{
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page__name{
    font-size: 6rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}
.page__job{
    position: relative;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-white);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.page__job::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        var(--color-blue),
        var(--color-pink)
    );
    transform: scaleX(0);
    transform-origin: center;
    animation: lineGrowCenter 2s ease forwards;
}
@keyframes lineGrowCenter {
    to {
        transform: scaleX(1);
    }
}
/*MENÚ NAVEGACIÓN LATERAL*/
.layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -10.5rem;
    min-width: 11rem;
    background-color: var(--color-transparent);
}
.menu__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left: 2.5rem;
    background-color: var(--color-secondary);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
}
.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}
.menu__icon{
    font-size: 2.8rem;
    color: var(--color-icon);
    transition: al 300ms ease-in-out;
}
.menu__option:hover .menu__icon,
.menu__link--active .menu__icon{
    color: var(--color-blue);
}
.menu__overlay{
    position: absolute;
    right: 0;
    margin-top: -3rem;
    display: block;
    opacity: 0;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    color: var(--color-text);
    background-color: var(--color-principal);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}
.menu__option:hover .menu__overlay{
    opacity: 1;
    right: 100%;
    border-radius: 4rem;
}
/*SOBRE MÍ*/
.content__about{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 4rem;
    padding-left: 5rem;
    overflow: auto;
}
.about__header{
    display: inline-block;
    margin-bottom: 2.5rem;
}
.about__title{
    font-size: 3.2rem;
    position: relative;
}
.about__title span{
    position: relative;
    z-index: 1;
}
.about__title::after{
    content: '';
    position: absolute;
    top: 2rem;
    right: -2.5rem;
    width: 5rem;
    height: 3rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.title__color,
.subtitle__color{
    color: var(--color-blue);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
.about__personal-info{
    width: 100%;
    margin-bottom: 3.5rem;
}
.personal-info__description{
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
}
.about__services{
    width: 100%;
}
.services__header{
    display: inline-block;
    padding-right: 1.2rem;
    margin-bottom: 1.5rem;
    position: relative;
}
.services__title{
    font-size: 2.2rem;
}
.services__title::after{
    content: '';
    position: absolute;
    top: 1.3rem;
    right: -0.1rem;
    width: 3rem;
    height: 2rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.services__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.services__service{
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
}
.service__real-icon{
    color: var(--color-blue);
    font-size: 3rem;
}
.service__title{
    font-size: 1.8rem;
    margin: 1.2rem 0;
}
.service__description{
    font-size: 1.5rem;
    line-height: 2.4rem;
}
/*CARRERA*/
.content__resume{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 4rem;
    padding-left: 5rem;
    overflow: auto;
}
.resume__header{
    display: inline-block;
    margin-bottom: 2.5rem;
}
.resume__title{
    font-size: 3.1rem;
    position: relative;
}
.resume__title::after{
    content: '';
    position: absolute;
    top: 2rem;
    right: -2.5rem;
    width: 5rem;
    height: 3rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.resume__subheader{
    display: inline-block;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    position: relative;
}
.resume__subtitle{
    font-size: 2.1rem;
}
.resume__subtitle::after{
    content: '';
    position: absolute;
    top: 1.3rem;
    right: 0rem;
    width: 3rem;
    height: 2rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.resume__container{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}
.resume__left{
    flex-basis: 58%;
    margin-right: 1.5rem;
    padding-bottom: 0;
}
.timelines__timeline{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.timeline__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}
.timeline__year{
    margin: 0.3rem 0;
    line-height: 2rem;
    font-size: 1.4rem;
}
.timeline__company{
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-grey);
}
.timeline__description{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}
.timeline__title{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}
.timeline__text{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-justify: auto;
}
.timeline__divider{
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0rem;
    width: 1px;
    background-color: var(--color-grey);
}
.timeline__divider--3{
    bottom: 1.2rem;
}
.timeline__divider--4{
    bottom: 1.2rem;
}
.timeline__divider::before{
    content: "";
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -0.8rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color-blue);
    border-radius: 10rem;
    opacity: 0.25;
}
.timeline__divider::after{
    content: "";
    position: absolute;
    margin-top: 0.8rem;
    margin-left: -0.4rem;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--color-blue);
    border-radius: 10rem;
    border: 2px solid var(--color-pink);
    opacity: 1;
}
.resume__right{
    flex-basis: 41%;
    padding: 0 3rem;
}
.resume__skills{
    width: 100%;
}
.skills__title{
    display: flex;
    justify-content: space-between;
}
.skills__text{
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}
.skills__number{
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--color-grey);
}
.skills__progressbar{
    height: 1rem;
    background-color: var(--color-pink);
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    margin-bottom: 1.6rem;
}
.skills__percentage{
    width: 40%;
    height: 0.8rem;
    background-color: var(--color-blue);
    border: 1px solid var(--color-white);
    border-radius: 1rem;
}
.skills__percentage--p1{
    width: 90%;
}
.skills__percentage--p2{
    width: 80%;
}
.skills__percentage--p3{
    width: 80%;
}
.skills__percentage--p4{
    width: 70%;
}
.skills__percentage--p5{
    width: 70%;
}
.skills__percentage--p6{
    width: 70%;
}
.skills__percentage--p7{
    width: 70%;
}
.skills__percentage--p8{
    width: 80%;
}
/*PROYECTOS*/
.content__projects{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 4rem;
    padding-left: 5rem;
    overflow: auto;
}
.projects__header{
    display: inline-block;
    margin-bottom: 2.5rem;
}
.projects__title{
    font-size: 3.2rem;
    position: relative;
}
.projects__description{
    text-align: center;
}
.projects__title::after{
    content: '';
    position: absolute;
    top: 2rem;
    right: -2.5rem;
    width: 5rem;
    height: 3rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.projects__gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery__item{
    flex-basis: 26%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery__container-image{
    width: 160px;
    height: 136px;
    overflow: hidden;
    border-radius: 12px;
    transition: all 300ms ease-in-out;
}
.gallery__image{
    width: 160px;
    height: 136px;
} 
.gallery__item:hover .gallery__container-image{
    transform: scale(1.1);
}
.gallery__title{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-align: center;
}
.projects__description{
    margin-top: -10px;
    margin-bottom: 10px;
}
/*CONTACTO*/
.content__contact{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 4rem;
    padding-left: 5rem;
    overflow: auto;
}
.contact__header{
    display: inline-block;
    margin-bottom: 2.5rem;
}
.contact__title{
    font-size: 3.2rem;
    position: relative;
}
.contact__title::after{
    content: '';
    position: absolute;
    top: 2rem;
    right: -2.5rem;
    width: 5rem;
    height: 3rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.contact__container{
    display: flex;
    flex-direction: row;
}
.contact__info{
    flex-basis: 33%;
    margin-top: 10rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__data{
    width: 50%;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--color-secondary);
    border-radius: 16px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.contact__data:hover .contact__icon{
    transform: scale(1.2);
}
.contact__icon{
    font-size: 4rem;
    color: var(--color-blue);
    transition: transform 300ms ease, color 300ms ease;
}
.contact__form-box{
    flex-basis: 66%;
    padding: 0 1.5rem;
    margin-top: -2rem;
}
.contact__form-header{
    display: inline-block;
    padding-right: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 2.2rem;
    position: relative;
}
.form-header__title{
    font-size: 2.1rem;
}
.form-header__title::after{
    content: '';
    position: absolute;
    top: 1.3rem;
    right: -0.1rem;
    width: 3rem;
    height: 2rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-white), var(--color-white) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    z-index: 0;
    opacity: 0.5;
}
.form__container{
    display: flex;
    flex-direction: row;
}
.form__left{
    flex-basis: 47%;
    margin-right: 1.5rem;
}
.form__group{
    position: relative;
    margin-bottom: 2.5rem;
}
.form__input{
    position: relative;
    width: 100%;
    height: 4.2rem;
    display: block;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    border: 0.2rem solid var(--color-grey);
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.10);
    background-color: var(--color-pink-input);
    color: var(--color-secondary);
    line-height: 2.1rem;
}
.form__input:focus{
    border: 0.2rem solid var(--color-blue);
}
.form__input:focus~label,
.form__input:not(:placeholder-shown)~label{
    top: -2rem;
    left: 0;
    z-index: 1;
    font-size: 1.3rem;
    color: var(--color-blue);
    font-weight: bold;
}
.form__input::-webkit-input-placeholder{
    color: transparent;
}
.form__input::-moz-placeholder{
    color: transparent;
}
.form__label{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 1;
    color: var(--color-grey);
    transition: all 300ms ease-in-out;
    pointer-events: none;
}
.form__right{
    flex-basis: 50%;
    max-width: 50%;
    max-height: 100%;
}
.form__group--textarea{
    height: 100%;
}
.form__input--textarea{
    display: block;
    resize: none;
    height: 87.5%;
}
.form__button{
    padding: 1rem 3rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--color-pink);
    color: var(--color-text);
    background-color: var(--color-secondary);
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form__button:hover{
    background-color: var(--color-pink);
    color: var(--color-secondary);
}
.contact__map{
    width: 100%;
    min-height: 13rem;
    overflow: hidden;
}
.contact__iframe{
    width: 100%;
    height: 12rem;
    border-radius: 1.5rem;
}
/*ENVÍO DE FORMULARIO*/
.hidden {
    display: none;
}
#customAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.alert-box {
    background-color: var(--color-blue-alert);
    color: var(--color-white);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 15px var(--color-blue-alert);
}
.alert-box p {
    font-size: 20px;
    margin-bottom: 20px;
}
#closeAlert {
    padding: 10px 20px;
    background-color: var(--color-secondary-alert);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--color-secondary-alert), 
    0 0 25px var(--color-secondary-alert);
}